default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: hello_rails_development
  username: postgres
  password: password

test:
  <<: *default
  database: hello_rails_test
  username: postgres
  password: password

production:
  <<: *default
  database: hello_rails_production
  username: felipe
  password: <%= ENV["password"] %>
